@model List<CrashCourse.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Id</th>
            <th>SerialNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("N2") $</td>
                <td>@item.CategoryId</td>
                <td>@item.Id</td>
                <td>@item.SerialNumber?.Id.ToString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="delete" asp-route-id="@item.Id">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>